 body{
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100vh;
        background-color: lightcoral;
      }
      
      
      .grid{
        display: grid;
        grid-template-columns: repeat(6,150px);
        gap:5px;
      }
      
      .draggable{
        width: 70px;
        height: 350px;
        background-size: cover;
        border: 2px solid black;
        transition:border 0.3s;
      }
      #div1 { background-image: url('https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); }
      #div2 { background-image: url('https://plus.unsplash.com/premium_photo-1729542103282-87a286ae45fd?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMHx8fGVufDB8fHx8fA%3D%3D'); }
      #div3 { background-image: url('https://fastly.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI'); }
      #div4 { background-image: url('https://www.shutterstock.com/shutterstock/photos/1032541603/display_1500/stock-photo-the-young-and-conceptual-image-of-a-large-stone-in-the-shape-of-the-human-brain-1032541603.jpg'); }
      #div5 { background-image: url('https://www.befunky.com/images/prismic/1f427434-7ca0-46b2-b5d1-7d31843859b6_funky-focus-red-flower-field-after.jpeg?auto=avif,webp&format=jpg&width=863'); }
      #div6 { background-image: url('https://miro.medium.com/v2/resize:fit:1024/1*w7fSHgKimriL-ryZJ52Uig.png'); }
